.none {
  display: none;
}

.mobile-list {
  display: none;
}

.header .header-container .header-top {
  padding: 4.5rem 62px 9.8rem;
  background-image: url(../images/backgrounds/header-top.svg);
}
.header .header-container .header-top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}
.header .header-container .header-top .nav .logo {
  color: #F40009;
  font-family: Beau Rivage;
  font-size: 5rem;
}
.header .header-container .header-top .nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
.header .header-container .header-top .nav .list li a {
  color: #3C3B3B;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 700;
}
.header .header-container .header-top .nav a {
  position: relative;
}
.header .header-container .header-top .nav a img {
  position: absolute;
  top: -45px;
  right: 0;
  width: 100px;
}

.main .greatest-container .greatest-icon {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1190px;
  z-index: -1;
  background: var(--coke-red-gradient-2, linear-gradient(8deg, #AC020E 0.68%, #B30411 12.99%, #BC0D14 28.82%, #CA161F 43.63%, #BC181F 57.68%, #AA141C 67.44%, #970A10 78.21%));
}
.main .greatest-container .greatest-icon::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 240px;
  background-image: url("../images/backgrounds/header-top.svg");
  background-position-x: -80px;
  -webkit-transform: scale(-1.25);
          transform: scale(-1.25);
}
.main .greatest-container .greatest-icon .section-glare {
  position: absolute;
  z-index: 5;
}
.main .greatest-container .greatest-icon .section-glare:first-child {
  left: -30px;
  bottom: -125px;
  width: 150px;
  height: 95%;
  border-radius: 0% 100% 0 0;
  background: #CC151E;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(2) {
  top: -50px;
  left: -250px;
  width: 514px;
  height: 514px;
  border-radius: 514px;
  opacity: 0.8;
  background: #CC151E;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(3) {
  top: 0;
  left: 419px;
  width: 318px;
  height: 318px;
  border-radius: 318px;
  opacity: 0.8;
  background: #9D141C;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(4) {
  top: 15%;
  left: 37%;
  width: 514px;
  height: 830px;
  border-radius: 830px;
  opacity: 0.8;
  background: #CC151E;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(5) {
  bottom: -40%;
  left: 40%;
  width: 318px;
  height: 856px;
  border-radius: 856px;
  background: #C5101A;
  -webkit-filter: blur(44px);
          filter: blur(44px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(6) {
  top: 30%;
  left: 53%;
  width: 582px;
  height: 582px;
  border-radius: 582px;
  opacity: 0.4;
  background: #FF5934;
  -webkit-filter: blur(46px);
          filter: blur(46px);
}
.main .greatest-container .greatest-icon .greatest-icon_content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 10.6rem;
     -moz-column-gap: 10.6rem;
          column-gap: 10.6rem;
  padding: 3rem 79px 0 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face img {
  width: 731px;
  height: 1000px;
  z-index: 5;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face img::-moz-selection {
  background-color: 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face img::selection {
  background-color: 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo {
  position: relative;
  width: 620px;
  z-index: 10;
  font-family: "TCCC-UnityHeadline Medium";
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 75px;
  font-weight: 800;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:first-child {
  color: #FFF;
  font-size: 96px;
  font-weight: 800;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(2) {
  color: #FFF;
  font-size: 204px;
  font-weight: 800;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  width: 565px;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola,
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola {
  display: block;
  position: relative;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola img,
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola img {
  border-radius: 16px;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola::before,
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola::before {
  content: "";
  position: absolute;
  z-index: 11;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  width: 76px;
  height: 76px;
  background-image: url("../images/icons/play.svg");
  cursor: pointer;
}
.main .greatest-container .greatest-icon .scroll-down {
  position: absolute;
  top: 50%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
  font-family: "TCCC-UnityHeadline Medium";
  font-size: 22px;
  font-weight: 800;
  line-height: 119%;
}
.main .greatest-container .greatest-icon .scroll-down span {
  position: absolute;
  top: 42.5%;
  left: 0;
  width: 150px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.main .greatest-container .greatest-icon .scroll-down .mouse {
  width: 58.506px;
  height: 158.47px;
  background-image: url("../images/icons/mouse.svg");
}

@media (min-width: 1041px) and (max-width: 1440px) {
  .header .header-container .header-top {
    padding: 3.5rem 54px 9.8rem;
  }
  .header .header-container .header-top .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header .header-container .header-top .nav .list {
    margin-left: 10rem;
  }
  .header .header-container .header-top .nav a {
    margin-left: auto;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span {
    width: 620px;
    font-size: 64px;
    line-height: 13rem;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:first-child {
    color: #FFF;
    font-size: 96px;
    font-weight: 800;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(2) {
    color: #FFF;
    font-size: 204px;
    font-weight: 800;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:last-child {
    font-size: 87px;
    letter-spacing: 0.8rem;
  }
}
@media (max-width: 1040px) {
  .none {
    display: block;
  }
  .header .header-container .header-top {
    padding: 3.5rem 32px 9.8rem;
  }
  .header .header-container .header-top .nav .mob-none {
    display: none;
  }
  .header .header-container .header-top .nav .mobile-list {
    position: absolute;
    top: 0;
    right: -50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: space-between;
    -webkit-transition: 3s ease;
    transition: 3s ease;
  }
  .header .header-container .header-top .nav .humburger-menu {
    position: relative;
    width: 60px;
    height: 60px;
  }
  .header .header-container .header-top .nav .humburger-menu input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  .header .header-container .header-top .nav .humburger-menu label {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
  }
  .header .header-container .header-top .nav .humburger-menu label img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    -webkit-transition: 3s ease;
    transition: 3s ease;
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
  .header .header-container .header-top .nav .humburger-menu label img:nth-child(2) {
    opacity: 0;
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ label img {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ label img:nth-child(1) {
    opacity: 0;
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ label img:nth-child(2) {
    opacity: 1;
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ .mobile-list {
    right: 0;
  }
}