.none {
  display: none;
}

.mobile-list {
  display: none;
}

@-webkit-keyframes animation-shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animation-shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.none {
  display: none;
}

.mobile-list {
  display: none;
}

@keyframes animation-shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.mob-block {
  display: none;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 10;
  height: 238px;
  background-color: #000;
  color: #fff;
  font-family: TCCC-UnityHeadline Medium;
}
.footer::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 240px;
  background-image: url("/img/bg/footer-row.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.footer .footer-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 0 8.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 20rem;
     -moz-column-gap: 20rem;
          column-gap: 20rem;
}
.footer .footer-container .footer-left {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer .footer-container .footer-left .logo {
  font-family: Beau Rivage;
  font-size: 5rem;
  color: #fff;
}
.footer .footer-container .footer-left p {
  margin-top: 1.3rem;
  font-size: 1.3rem;
}
.footer .footer-container .footer-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 1.5rem;
}
.footer .footer-container .footer-right .nav {
  width: 100%;
}
.footer .footer-container .footer-right .nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-container .footer-right .nav .list li {
  font-size: 1.2rem;
  font-weight: 800;
}
.footer .footer-container .footer-right .nav .list li a {
  color: #fff;
}
.footer .footer-container .footer-right .socials {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.7rem;
}

@media (max-width: 1040px) {
  .footer .footer-container {
    padding: 0 4.4rem;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  .footer .footer-container .footer-left .logo {
    font-size: 4rem;
  }
  .footer .footer-container .footer-left p {
    font-size: 1rem;
  }
  .footer .footer-container .footer-right .nav .list li {
    font-size: 0.9rem;
  }
  .footer .footer-container .footer-right .socials {
    width: 250px;
  }
  .footer .footer-container .footer-right .socials img {
    width: 20px;
  }
}
@media (max-width: 430px) {
  .mob-block {
    display: block;
  }
  .footer {
    min-height: 300px;
  }
  .footer::before {
    top: -79%;
  }
  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-left {
    min-width: 300px;
  }
  .footer .footer-container .footer-left .logo {
    font-size: 5rem;
  }
  .footer .footer-container .footer-left p {
    display: none;
  }
  .footer .footer-container .footer-right .nav .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.5rem;
  }
  .footer .footer-container .footer-right .nav .list li {
    font-size: 1.2rem;
  }
  .footer .footer-container .footer-right .mob-none {
    margin-top: 1rem;
    font-size: 0.6rem;
  }
}
.none {
  display: none;
}

.mobile-list {
  display: none;
}

@keyframes animation-shake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header .header-container .header-top {
  padding: 2.5rem 62px 17.8rem;
  background-image: url(/img/icons/white_wave.svg);
  background-size: 106%;
  background-position-y: 22.5%;
  background-position-x: 35%;
}
.header .header-container .header-top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}
.header .header-container .header-top .nav .logo {
  z-index: 11;
  color: #f40009;
  font-family: Beau Rivage;
  font-size: 5rem;
  cursor: default;
}
.header .header-container .header-top .nav .logo::-moz-selection {
  color: #f40009;
}
.header .header-container .header-top .nav .logo::selection {
  color: #f40009;
}
.header .header-container .header-top .nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
.header .header-container .header-top .nav .list li a {
  color: #3c3b3b;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 700;
}
.header .header-container .header-top .nav a {
  position: relative;
}
.header .header-container .header-top .nav a img {
  position: absolute;
  top: -45px;
  right: 0;
  width: 100px;
}

@media (hover: hover) {
  .header .header-container .header-top .nav .hover-list li {
    display: block;
    position: relative;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .header .header-container .header-top .nav .hover-list li a {
    z-index: 7;
  }
  .header .header-container .header-top .nav .hover-list li:hover {
    opacity: 0.7;
  }
  .header .header-container .header-top .nav .hover-list li:active {
    opacity: 0.6;
  }
}
@media (min-width: 1041px) and (max-width: 1440px) {
  .header .header-container .header-top {
    padding: 3.5rem 54px 9.8rem;
  }
  .header .header-container .header-top .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header .header-container .header-top .nav .list {
    margin-left: 10rem;
  }
  .header .header-container .header-top .nav a {
    margin-left: auto;
  }
}
@media (max-width: 1040px) {
  .none {
    display: block;
  }
  .header .header-container .header-top {
    padding: 3.5rem 32px 6.8rem;
  }
  .header .header-container .header-top .nav .mob-none {
    display: none;
  }
  .header .header-container .header-top .nav .humburger-menu {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
  }
  .header .header-container .header-top .nav .humburger-menu input {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 11;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ label img {
    z-index: 10;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ label img:nth-child(1) {
    opacity: 0;
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ label img:nth-child(2) {
    opacity: 1;
  }
  .header .header-container .header-top .nav .humburger-menu input:checked ~ .mobile-list {
    top: 0;
  }
  .header .header-container .header-top .nav .humburger-menu label {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
  }
  .header .header-container .header-top .nav .humburger-menu label img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
    -webkit-transform: rotate(2160deg);
            transform: rotate(2160deg);
  }
  .header .header-container .header-top .nav .humburger-menu label img:nth-child(2) {
    opacity: 0;
  }
  .header .header-container .header-top .nav .humburger-menu .mobile-list {
    position: absolute;
    top: -51vh;
    right: -3.2rem;
    z-index: 5;
    height: 40vh;
    width: 100vw;
    background-color: #fff;
    padding-top: 3.2vh;
    padding-bottom: 1.6vh;
    border-radius: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
  }
  .header .header-container .header-top .nav .humburger-menu .mobile-list li a {
    color: #3c3b3b;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 700;
  }
}
@media (max-width: 360px) {
  .header .header-container .header-top {
    padding: 1.5rem 20px 9.8rem;
    background-size: cover;
  }
  .header .header-container .header-top .nav .logo {
    width: 110px;
    font-size: 26px;
  }
  .header .header-container .header-top .nav .humburger-menu {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 2rem;
  }
  .header .header-container .header-top .nav .humburger-menu input {
    width: 40px;
    height: 40px;
  }
  .header .header-container .header-top .nav .humburger-menu label {
    width: 40px;
    height: 40px;
  }
  .header .header-container .header-top .nav .humburger-menu label img {
    width: 40px;
    height: 40px;
  }
  .header .header-container .header-top .nav .humburger-menu .mobile-list {
    right: -20px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.main .greatest-container {
  position: relative;
  height: 1190px;
  z-index: 0;
}
.main .greatest-container .greatest-icon {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--coke-red-gradient-2, linear-gradient(8deg, #ac020e 0.68%, #b30411 12.99%, #bc0d14 28.82%, #ca161f 43.63%, #bc181f 57.68%, #aa141c 67.44%, #970a10 78.21%));
}
.main .greatest-container .greatest-icon::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 240px;
  background-image: url("../img/bg/header-top.svg");
  background-position-x: -100px;
  -webkit-transform: scale(-1.25);
          transform: scale(-1.25);
}
.main .greatest-container .greatest-icon .section-glare {
  position: absolute;
  z-index: 5;
}
.main .greatest-container .greatest-icon .section-glare:first-child {
  left: -30px;
  bottom: -125px;
  width: 150px;
  height: 95%;
  border-radius: 0% 100% 0 0;
  background: #cc151e;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(2) {
  top: -50px;
  left: -250px;
  width: 514px;
  height: 514px;
  border-radius: 514px;
  opacity: 0.8;
  background: #cc151e;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(3) {
  top: 0;
  left: 419px;
  width: 318px;
  height: 318px;
  border-radius: 318px;
  opacity: 0.8;
  background: #9d141c;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(4) {
  top: 15%;
  left: 37%;
  width: 514px;
  height: 830px;
  border-radius: 830px;
  opacity: 0.8;
  background: #cc151e;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(5) {
  bottom: -40%;
  left: 40%;
  width: 318px;
  height: 856px;
  border-radius: 856px;
  background: #c5101a;
  -webkit-filter: blur(44px);
          filter: blur(44px);
}
.main .greatest-container .greatest-icon .section-glare:nth-child(6) {
  top: 30%;
  left: 53%;
  width: 582px;
  height: 582px;
  border-radius: 582px;
  opacity: 0.4;
  background: #ff5934;
  -webkit-filter: blur(46px);
          filter: blur(46px);
}
.main .greatest-container .greatest-icon .greatest-icon_content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 10.6rem;
     -moz-column-gap: 10.6rem;
          column-gap: 10.6rem;
  padding: 3rem 79px 0 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face {
  position: relative;
  width: 731px;
  height: 960px;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face img::-moz-selection {
  background-color: 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .icon-face img::selection {
  background-color: 0;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo {
  position: relative;
  width: 566px;
  text-align: center;
  z-index: 10;
  font-family: "TCCC-UnityHeadline Medium";
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 7.3rem;
  font-weight: 800;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:first-child {
  font-size: 9.5rem;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(2) {
  font-size: 20.4rem;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(3) {
  font-size: 9.5rem;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  width: 565px;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola,
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola {
  display: block;
  position: relative;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola img,
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola img {
  border-radius: 16px;
}
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola::before,
.main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola::before {
  content: "";
  position: absolute;
  z-index: 21;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  width: 76px;
  height: 76px;
  background-image: url("../img/icons/play.svg");
  cursor: pointer;
}
.main .greatest-container .greatest-icon .scroll-down {
  position: absolute;
  top: 50%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: "TCCC-UnityHeadline Medium";
  font-size: 22px;
  font-weight: 800;
  line-height: 119%;
}
.main .greatest-container .greatest-icon .scroll-down span {
  position: absolute;
  top: 42.5%;
  left: 0;
  width: 150px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.main .greatest-container .greatest-icon .scroll-down .mouse {
  width: 58.506px;
  height: 158.47px;
  background-image: url("../img/icons/mouse.svg");
}

@media (min-width: 1041px) and (max-width: 1440px) {
  .main .greatest-container .greatest-icon .greatest-icon_content {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span {
    width: 620px;
    font-size: 64px;
    line-height: 13rem;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:first-child {
    color: #fff;
    font-size: 96px;
    font-weight: 800;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(2) {
    color: #fff;
    font-size: 204px;
    font-weight: 800;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:last-child {
    font-size: 87px;
    letter-spacing: 0.8rem;
  }
}
@media (max-width: 1040px) {
  .main .greatest-container {
    height: 890px;
  }
  .main .greatest-container .greatest-icon {
    height: 890px;
  }
  .main .greatest-container .greatest-icon::after {
    -webkit-transform: scale(-1);
            transform: scale(-1);
  }
  .main .greatest-container .greatest-icon .section-glare:nth-child(2) {
    display: none;
  }
  .main .greatest-container .greatest-icon .section-glare:nth-child(4) {
    opacity: 0.85;
  }
  .main .greatest-container .greatest-icon .section-glare:nth-child(5) {
    left: 37%;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .icon-face img {
    width: 531px;
    height: 800px;
    margin-top: 28rem;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev {
    margin-left: -27rem;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo {
    position: relative;
    width: 350px;
    font-size: 45px;
    font-weight: 800;
    color: #fff;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:first-child {
    font-size: 59px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(2) {
    font-size: 124px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(3) {
    font-size: 59px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos {
    width: 350px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola,
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola {
    width: 45%;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola::before,
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola::before {
    width: 50px;
    height: 50px;
    background-size: contain;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola img,
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola img {
    width: 100%;
  }
  .main .greatest-container .greatest-icon .scroll-down {
    right: 1rem;
  }
  .main .greatest-container .greatest-icon .scroll-down span {
    display: none;
  }
}
@media (max-width: 360px) {
  .main .greatest-container {
    height: 690px;
  }
  .main .greatest-container .greatest-icon {
    height: 690px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content {
    top: 0;
    padding-right: 0;
    width: 100%;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .icon-face {
    display: none;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev {
    width: 100%;
    margin-left: 0;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    text-align: center;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(1) {
    font-size: 47px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(2) {
    font-size: 95px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .logo span:nth-child(3) {
    font-size: 46px;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 0.2rem;
       -moz-column-gap: 0.2rem;
            column-gap: 0.2rem;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola,
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola {
    width: 37.5%;
  }
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .ice-cola::before,
  .main .greatest-container .greatest-icon .greatest-icon_content .elev .more-videos .red-cola::before {
    width: 35px;
    height: 35px;
    top: calc(75% - 35px);
    left: calc(62.5% - 35px);
  }
}